
// Body
$body-bg: #f5f8fa;

// Brands
$brand-primary: #d95b44;
$brand-info: #ffae68;
$brand-success: #2ab27b;
$brand-warning: #ff804f;
$brand-danger: #bf5329;
$brand-critical: #862a07;

// Typography
$font-family-sans-serif: "Source Sans Pro", sans-serif;
$font-family-code: 'Roboto Mono', Monaco, courier, monospace;
$font-size-base: 15px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($brand-primary, 15%);
$input-border-focus: $brand-primary;
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
